<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/public/site.css" rel="stylesheet">
    <script type="text/javascript" src="/public/scripts.js"></script>
    <title>LIEB</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
