<header class="create_post_header">
    <h1>New Post</h1>
</header>
<main class="create-post-content">
    <form id="create-post" method="post" action="/posts">
        <label for="contentInput">CONTENT:</label>
        <input id="contentInput" type="text" name="content" />
        <label for="attachmentInput">Attachments:</label>
        <input id="attachmentInput" accept="*" type="file" name="attachments" />
        <input type="submit" value="create" />
    </form>
</main>
