{{#if user}}
  <header class="profile_header">
    <h1>Profile - {{user.username}}</h1>
  </header>
  <main class="profile_content">
    <p id="profile_message"></p>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">LIEB Floorplan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="change-password-section">
      <h2>Change Password</h2>
      <form
        id="change-password-form"
        onsubmit="updateUserPassword(event)">
        <label for="currentPasswordInput">Current Password:</label>
        <input id="currentPasswordInput" type="password" name="currentPassword" />
        <label for="newPasswordInput">New Password:</label>
        <input id="newPasswordInput" type="password" name="newPassword" />
        <label for="newPasswordAgainInput">New Password Again:</label>
        <input id="newPasswordAgainInput" type="password" name="newPasswordAgain" />
        <input type="submit" value="Update" />
      </form>
    </section>
    <section id="change-picture-section">
      <h2>Change Profile Picture</h2>
      <form
        id="change-profile-picture"
        onsubmit="updateUserPicture(event)">
        <label for="profilePictureInput">New Profile Picture:</label>
        <input id="profilePictureInput" accept="image/*" type="file" />
        <input type="submit" value="Update" />
      </form>
    </section>
    <section class="profile_errors">
      <ul id="profile_error_list">
      </ul>
    </section>
  </main>
{{else}}
  <header class="profile_header">
    <h1>Profile - {{missingUser}}</h1>
  </header>
  <main class="profile_content"
    <p>No user {{ missingUser }}</p>
  </main>
{{/if}}
